{% extends "AdminAdminBundle::layout.html.twig" %}

{% block content %}
           <!-- Page Content -->
        <div class="tab-content">
                <div id="page-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Catégories</h1>
                                <div class="col-lg-10">
                                <div class="form-group">
                            <label>Ajouter une catégorie</label>
                            {{ include("AdminAdminBundle:Default:form.html.twig") }}
                            <ul>                 
                                <div class="col-md-11 pos">  
                                {% for names in listCategory %}
                                <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">

                                <div class="col-md-12 cat">                                    
                                        <li>{{ names.Name }}<div class="col-md-1 del">
                        <a href="{{ path('admin_admin_delete', {'id': names.id,'page': 'Category'}) }}" class="btn btn-outline btn-primary">Effacer</a>
                    </div></li>
                                </div>
                            </div>
                        </div> 
                                {% endfor %}
                                </div>
                            </ul>
                        </div>
                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>

{% endblock %}