{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    
    <head>
        {% block head %}
            
        {% endblock %}
    
    
    <title>
    {% block title %}
                
    {% endblock %}
    </title>
    
    </head>
    
    <body>
        {% block header %}
            {% endblock %}
        {% block body %}
           
            
           
        {% endblock %}
    </body>
    
</html>