{% extends "BootstrapThemeBundle:Default:categories.html.twig" %}

{% block title 'FTW - Sujets'%}
    
{% block h2 %}
        <h2>Sujets</h2>
{% endblock %}

{% block breadcrumbs %}
                    <li><a class="current" href="{{ path('static', {'page': 'sujets'}) }}">Sujets</a></li>
{% endblock %}
