{% extends "BootstrapThemeBundle:Default:categories.html.twig" %}

{% block title 'FTW - Sujets'%}
    
{% block h2 %}
        <h2>Sujets</h2>
{% endblock %}

{% block breadcrumbs %}
                    <li><a class="current2" href="{{ path('static', {'page': 'sujets'}) }}">Sujets</a></li>
{% endblock %}
{% block load %}
{% for topic in topicPages %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                            <div class="col-md-12 cat"> 
                                <a href="{{ path('post', {'top': topic.Id}) }}">
                                 <li class="text">{{ topic.Name }}</li>
                                </a>
                            </div>
                            </div>
                        </div> 
                        {% endfor %}
<div class="text-center">{{ knp_pagination_render(topicPages) }}</div>
{% endblock %}